/* Add application styles & imports to this file! */

.ng-select.custom .ng-option.selected {
  background-color:salmon;
}

.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-control  {            
    min-height: 0px;
    border-radius: 0;
}